# For Loops

In [ ]:
'''
For more details see chapter 21

- A smarter way to learn python

'''

In [2]:
for i in range(5):  # it'll work for i = (0,1,2,3,4). so it'll repeat 5 times
    print(i, 'Ans Imran')

0 Ans Imran
1 Ans Imran
2 Ans Imran
3 Ans Imran
4 Ans Imran

In [3]:
list = []

In [4]:
list

[]

In [11]:
c=0

In [12]:
for i in range(5):
    c = c+2
    list.insert(i,c)
    print(i,c)

0 2
1 4
2 6
3 8
4 10

In [13]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [14]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [15]:
for number in range(1,10,2): 
    print(number)

1
3
5
7
9

In [16]:
for number in range(1,10,3):
    print(number)

1
4
7

In [17]:
for number in range(10,1,-2):  # loop working in reverse
    print(number)

10
8
6
4
2

In [18]:
cities = ['Karachi', 'Multan', 'Quetta']

In [20]:
for a in cities:
    print(f'The city under consideration is {a}')

The city under consideration is Karachi
The city under consideration is Multan
The city under consideration is Quetta

In [22]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [25]:
country = 'Pakistan'

for char in country:   # if the input to for loop is a string, then it starts picking it's characters
    print(char)

P
a
k
i
s
t
a
n

In [27]:
country = ('Pakistan', 'America')

for char in country:   # now it's not a string, it's a tuple
    print(char)

Pakistan
America

In [28]:
country = 'Pakistan', 'America'  # A tuple can be defined without brackets.

for char in country:   
    print(char)

Pakistan
America

# for loop's break and continue keywords

In [31]:
for number in range(10):
    print(number)
    if number%3 == 1:      # number % 3 = the remainder of number / 3.
        break               # the loop will break wen the remainder will be 1

0
1

In [32]:
for number in range(10):
    print(number)
    if number%3 != 1:      # number % 3 = the remainder of number / 3.
        break               # the loop will break wen the remainder will be 1

0

In [42]:
for number in [5,7,11,90]:
    if number%2 == 0:      # number % 3 = the remainder of number / 3.
        break               # the loop will break wen the remainder will be 1
    print(number)

5
7
11

In [2]:
for char in 'pakistan':
    print(char)
    if char == 'i':
        break

p
a
k
i

In [49]:
for num in range(10):
    if num == 7:
        continue # it skips the specified iteration
    print(num)

0
1
2
3
4
5
6
8
9

In [48]:
for num in range(10):
    if num == 7 or num == 4:
        continue # it'll skip 4 & 7. In other words loop will skip and CONTINUE after both 4 and 7.
    print(num)

0
1
2
3
5
6
8
9