
# Nested for loops

In [ ]:
'''
see chapter 22
'''

In [4]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a, char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [9]:
tableNumber = int(input('Enter Table Number: '))

for a in range(1,11):
    print(f"{tableNumber} * {a}   =  {tableNumber*a}")

Enter Table Number: 7
7 * 1   =  7
7 * 2   =  14
7 * 3   =  21
7 * 4   =  28
7 * 5   =  35
7 * 6   =  42
7 * 7   =  49
7 * 8   =  56
7 * 9   =  63
7 * 10   =  70

In [37]:
list =[]

nTables = int(input('Enter the no. of tables you want to print: '))

for a in range(nTables):
    b = int(input(f'Enter Table no. {a +1} that you want to print: '))
    list.insert(a,b)


for table in range(nTables):
    for a in range(1,11):
        print(f"{list[table]} * {a}   =  {list[table]*a}")
    print('\n')

Enter the no. of tables you want to print: 2
Enter Table no. 1 that you want to print: 3
Enter Table no. 2 that you want to print: 4
3 * 1   =  3
3 * 2   =  6
3 * 3   =  9
3 * 4   =  12
3 * 5   =  15
3 * 6   =  18
3 * 7   =  21
3 * 8   =  24
3 * 9   =  27
3 * 10   =  30


4 * 1   =  4
4 * 2   =  8
4 * 3   =  12
4 * 4   =  16
4 * 5   =  20
4 * 6   =  24
4 * 7   =  28
4 * 8   =  32
4 * 9   =  36
4 * 10   =  40

In [63]:
list = []


for a in range(10000):
    b = int(input(f'Enter table no. {a+1} that you want to print, otherwise enter no: '))
    if b == 0:
        break
    list.insert(a,b)

    
for table in range(len(list)):
    for a in range(1,11):
        print(f'{list[table]} * {a}   =  {list[table]*a}')
    print('\n')

Enter table no. 1 that you want to print, otherwise enter no: 2
Enter table no. 2 that you want to print, otherwise enter no: 0
2 * 1   =  2
2 * 2   =  4
2 * 3   =  6
2 * 4   =  8
2 * 5   =  10
2 * 6   =  12
2 * 7   =  14
2 * 8   =  16
2 * 9   =  18
2 * 10   =  20

In [10]:
list = []
b = 1
a = 0

while b != 0:
    a = a + 1
    b = int(input(f'Enter table no. {b+1} that you want to print, otherwise enter no: '))
    list.insert(a,b)

c = len(list) - 1
    
for table in range(c):
    for a in range(1,11):
        print(f'{list[table]} * {a} \t  = \t {list[table]*a}')
    print('\n')

Enter table no. 2 that you want to print, otherwise enter no: 2
Enter table no. 3 that you want to print, otherwise enter no: 3
Enter table no. 4 that you want to print, otherwise enter no: 4
Enter table no. 5 that you want to print, otherwise enter no: 0
2 * 1 	  = 	 2
2 * 2 	  = 	 4
2 * 3 	  = 	 6
2 * 4 	  = 	 8
2 * 5 	  = 	 10
2 * 6 	  = 	 12
2 * 7 	  = 	 14
2 * 8 	  = 	 16
2 * 9 	  = 	 18
2 * 10 	  = 	 20


3 * 1 	  = 	 3
3 * 2 	  = 	 6
3 * 3 	  = 	 9
3 * 4 	  = 	 12
3 * 5 	  = 	 15
3 * 6 	  = 	 18
3 * 7 	  = 	 21
3 * 8 	  = 	 24
3 * 9 	  = 	 27
3 * 10 	  = 	 30


4 * 1 	  = 	 4
4 * 2 	  = 	 8
4 * 3 	  = 	 12
4 * 4 	  = 	 16
4 * 5 	  = 	 20
4 * 6 	  = 	 24
4 * 7 	  = 	 28
4 * 8 	  = 	 32
4 * 9 	  = 	 36
4 * 10 	  = 	 40