# Dictionaries

In [ ]:
'''
Chapters 25 - 33
'''

# How to Create and access a dictionary

In [1]:
customer_1 = {'first name':'Ans', 'last name':'Imran', 'address':'mohallah hakeemaan vala'}

In [4]:
address_of_customer_1 = customer_1["address"]

address_of_customer_1

'mohallah hakeemaan vala'

# Values can be be numerical

In [5]:
country_rank = {'Pakistan':1, 'USA':2, 'Maldives':3, 'China':4}

In [7]:
rank_of_pk = country_rank['Pakistan']

rank_of_pk

1

# Keys can be numerical

In [8]:
country_rank = {1:'Pakistan', 2:'USA', 3:'Maldives', 4:'China'}

In [9]:
rank_1_c = country_rank[1]

rank_1_c

'Pakistan'

# Writing each new key:value pair on a successive line

In [10]:
things_to_remember = {
 0: "the lowest number",
 "a dozen": 12,
 "snake eyes": "a pair of ones",
 13: "a baker's dozen",
                     }

In [11]:
things_to_remember[0]

'the lowest number'

# Dictionaries: Adding items

In [9]:
customer_1["city"] = "Qaimpur"

In [10]:
customer_1

{'first name': 'Ans',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Qaimpur'}

In [12]:
customer_1["mobile"] = 923077424367

In [13]:
customer_1

{'first name': 'Ans',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Qaimpur',
 'mobile': 923077424367}

## define an empty dictionary

In [27]:
customer_2 = {}

In [15]:
# later we can add anything to this dictionary

In [28]:
customer_2['first name'] = 'Awais'

In [29]:
customer_2['last name'] = 'Imran'

In [30]:
customer_2['address'] = 'mohallah hakeemaan vala'

In [31]:
customer_2['city'] = 'Qaimpur'

In [32]:
customer_2

{'first name': 'Awais',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Qaimpur'}

In [40]:
customer_2[1] = 45

In [34]:
customer_2 # if the key is numeric in nature, you can forget about ""s
            # similarly if value is numeric you can also again forget ""s

{'first name': 'Awais',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Qaimpur',
 1: 45}

# Removing and changing items

In [41]:
del customer_2[1]   # it'll delete the key '1' and it's corresponding value from the dictionary

In [42]:
customer_2

{'first name': 'Awais',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Qaimpur'}

## Changing a value corresponding to a key

In [43]:
customer_2

{'first name': 'Awais',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Qaimpur'}

In [46]:
customer_2['city'] = 'Kabirah Pulli'  # syntax is the same as for adding a new key and value

In [45]:
customer_2

{'first name': 'Awais',
 'last name': 'Imran',
 'address': 'mohallah hakeemaan vala',
 'city': 'Kabirah Pulli'}

# Looping through Values

In [48]:
for a in customer_2.values():
    print(a)

Awais
Imran
mohallah hakeemaan vala
Kabirah Pulli

# Looping through Keys

In [49]:
for a in customer_2.keys():
    print(a)

first name
last name
address
city

# Looping through Key-Value Pairs

In [51]:
for a, b in customer_2.items():
    print(a,b)

first name Awais
last name Imran
address mohallah hakeemaan vala
city Kabirah Pulli

In [57]:
for a, b in customer_2.items():
    print(f"{a}:  \t \t  {b}")

first name:  	 	  Awais
last name:  	 	  Imran
address:  	 	  mohallah hakeemaan vala
city:  	 	  Kabirah Pulli